.Contents
  .Dropdown
    %ul.Doropdown__lists
      %li 
        = current_user.nickname 
        さん
      %li 
        = link_to user_path(current_user.id), data: {"turbolinks"=>false} do 
          My page
      %li
        =link_to destroy_user_session_path,data: {"turbolinks"=>false}, method: :delete do 
          Log out
  .Container
    .Create 
      .Create__messages 
        %h1.Create__messages--message 
          投稿が完了しました  
        
        =link_to root_path,data: {"turbolinks"=>false}, class: "Create__messages--send" do 
          投稿一覧へ戻る