.Contents
  = render "dropdown"
  .Container
    .Create 
      .Create__messages 
        %h1.Create__messages--message 
          投稿が完了しました  
        
        =link_to root_path,data: {"turbolinks"=>false}, class: "Create__messages--send" do 
          投稿一覧へ戻る