.Contents 
  = render "dropdown"
  .Container 
    .Delete
      .Delete__messages 
        %h1.Delete__messages--message 
          投稿が削除されました 
        
        =link_to root_path, data: {"turbolinks"=>false}, class: "Delete__messages--send" do 
          投稿一覧へ戻る