.Contents 
  .Dropdown
    %ul.Doropdown__lists
      %li 
        = current_user.nickname 
        さん
      %li 
        = link_to user_path(current_user.id) do 
          My page
      %li
        =link_to destroy_user_session_path, method: :delete do 
          Log out
  .Container 
    .Delete
      .Delete__messages 
        %h1.Delete__messages--message 
          投稿が削除されました 
        
        =link_to root_path, class: "Delete__messages--send" do 
          投稿一覧へ戻る