.Contents 
  .Container 
    .Main-container
      %h1.Main-container__title 
        Posts List
      
      .Main-container__posts
        .Category 
          = link_to "#", class: "Category__gourmet " do 
            Gourmet
          = link_to "#", class: "Category__spot " do 
            Spot 
        .Post-new 
          .Post-new__images
            - @tweets.each do |tweet|
              .Post-new__images__image
                = link_to tweet_path(tweet.id), method: :get do 
                  %img{ src: tweet.image, alt: "写真１", class: "Post-new__images__image__photo"}