.Contents
  .Dropdown
    %ul.Doropdown__lists
      %li 
        = current_user.nickname 
        さん
      %li 
        = link_to user_path(current_user.id), data: {"turbolinks"=>false} do 
          My page
      %li
        =link_to destroy_user_session_path, data: {"turbolinks"=>false}, method: :delete do 
          Log out
  .Container 
    .Update
      .Update__messages 
        %h1.Update__messages--message 
          投稿が更新されました 
        
        =link_to root_path, data: {"turbolinks"=>false}, class: "Update__messages--send" do 
          投稿一覧へ戻る