@import "reset";
@import "tweets";
@import "devise";
@import "users";
@import "error_messages";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');


*{
  box-sizing: border-box;
}

.Header{
  background-color: rgb(236, 154, 47);
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .Header-left{
    font-size: 30px;
    font-family: 'Sacramento', cursive;
    margin-left: 20px;
    &__title{
      color: black;
      text-decoration: none;
    }
  }
  .Header-right{
    display: flex;
    font-size: 28px;
    margin-right: 20px;
    &__search-btn{
      color: rgb(39, 37, 37);
      margin-right: 20px;
    }
    &__new-btn{
      margin-right: 20px;
      &__link{
        color: rgb(39, 37, 37);
      }
    }
    &__user-btn{
      color: rgb(41, 36, 31)
    }
  }
}
.Flash-message{
  background-color: black;
  color: white;
  text-align: center;
}

.search-form{
  margin-right: 5px;
  position: relative;
  .search-input{
    background-color: #eee;
    outline: none;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 20px;
  }
  .search-btn{
    border: none;
    height: 50px;
    position: absolute;
    left: 215px;
    top: 0;
    background: none;
    color: #666;
    font-size: 20px;
    font-family: FontAwesome;
  }
}
