.Comments{
  min-width: 480px;
  width: 100%;
  form{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 96%;
    display: flex;
    align-items: flex-end;
    position: relative;
    textarea{
      width: 100%;
      border: none;
      padding-left: 10px;
      font-size: 20px;
      outline: none;
      white-space: pre-wrap;
    }
    input{
      position: absolute;
      right: 10px;
      border: none;
      color: rgba(9, 181, 220, 0.968);
      font-size: 25px;
      background: none;
    }
    input:hover{
      cursor: pointer;
    }
  }
  .need-login{
    text-align: center;
    margin: 15px 0 15px 0;
    color: rgba(220, 9, 9, 0.968);
  }
  .lists{
    width: 96%;
    margin: 0 auto;
    .list{
      display: flex;
      margin-bottom: 25px;
      &__name{
        a{
        font-size: 25px;
        color: #ec9a2f;
        font-weight: bold;
        font-family: serif;
        margin-right: 30px;
        text-decoration: none;
        }
      }
      &__text{
        font-size: 20px;
      }
    }
  }
}
